<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- thymeleaf-->
<h1>Spring Boot Apelsin</h1>

<a th:href="@{/category}">READ ALL CATEGORY</a>
<a th:href="@{/category/add}">ADD CATEGORY</a>
<br>
<br>
<a th:href="@{/customer}">READ ALL CUSTOMER</a>
<a th:href="@{/customer/add}">ADD CUSTOMER</a>
<br>
<br>
<a th:href="@{/detail}">READ ALL DETAIL</a>
<a th:href="@{/detail/add}">ADD DETAIL</a>
<br>
<br>
<a th:href="@{/invoice}">READ ALL INVOICE</a>
<a th:href="@{/invoice/add}">ADD INVOICE</a>
<br>
<br>
<a th:href="@{/order}">READ ALL ORDER</a>
<a th:href="@{/order/add}">ADD ORDER</a>
<br>
<br>
<a th:href="@{/payment}">READ ALL PAYMENT</a>
<a th:href="@{/payment/add}">ADD PAYMENT</a>
<br>
<br>
<a th:href="@{/product}">READ ALL PRODUCT</a>
<a th:href="@{/product/add}">ADD PRODUCT</a>
</body>
</html>